h1 {
  text-align: center;
  background-color: rgba(37, 37, 37, 0.863);
  color: white;
  padding: 15px;
}

p {
  color: black;
  font-size: large;
  font-weight: 600;
  text-align: center;
}

span {
  font-weight: 600;
}

li {
  margin: 18px;
}
li span {
  margin-right: 10px;
}
a span {
  background-color: rgba(243, 170, 207, 0.534);
  transition: background-color 0.5s;
}

a span:hover {
  background-color: rgb(211, 188, 59);
}
.modal-title {
  background-color: rgb(87, 193, 219);
  color: black;
  font-size: 25px;
  font-weight: 500;
}
.modal-body {
  text-align: center;
}
